.card {
    background-color: #374151;
    border-radius: 0.75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.colorBox {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    border: 2px solid #6b7280;
    transition: background-color 0.5s;
}

.info {
    text-align: center;
}

.hex {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    font-size: 1.125rem;
    background-color: #1f2937;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hex:hover {
    background-color: #4b5563;
}

.rgb {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace; /* font-mono */
    font-size: 0.875rem; /* text-sm */
    color: #9ca3af; /* text-gray-400 */
    margin-top: 0.5rem; /* mt-2 */
}
