.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #374151;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.label {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.colorInput {
    border: 4px solid #4b5563;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;

    padding: 0;
    background-color: transparent;

    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.colorInput:hover {
    transform: scale(1.1);
}

.colorInput::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorInput::-webkit-color-swatch {
    border: none;
    border-radius: 0.25rem;
}
